.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 2.6rem;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.map{
  width: 50%;
  height: 30rem;
  border: 2px solid #1641de78;
}

.danibtn{
  width: 40px;
  height: 40px;
}

.bg{
  background-color: black;
}



/* 

@font-face {
  font-family: "ConcertOne";
  src: url("/fonts/ConcertOne-Regular.ttf");
}

.title {
  font-size: 55px;
  margin: 3%;
  font-family: ConcertOne;
  color: white;
}


.button {
  border: 0px;
  margin: 6px;
  height: 3rem;
  text-align: center;
  border-radius: 100px;
  font-family: ConcertOne;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 128, 1) 0%,
    rgba(23, 0, 83, 0.8) 100%
  );
}

.button::placeholder { 
  font-family: ConcertOne;
} */