@font-face {
  font-family: "Concert One";
  src: url("/fonts/ConcertOne-Regular.ttf");
}

.title {
  font-size: 55px;
  margin: 8%;
  font-family: "Concert One";
  color: white;
  text-shadow: 2px 2px 3px rgb(22, 22, 22);
}