@font-face {
    font-family: "ConcertOne";
    src: url("/fonts/ConcertOne-Regular.ttf");
  }
  
  .title {
    font-size: 55px;
    margin-top: 6rem;
    text-align: left;
    width: 70%;
    font-family: ConcertOne;
    color: #FF8A00;
    /* text-shadow: 2px 2px 3px rgb(64, 64, 64); */
  }
  

  
  .buttonsWrapper{
    margin-top: 7rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .buttone {
    border: 0px;
    margin-left: 40px;
    margin-right:40px;
    margin-top: 1.4rem;
    height: 3rem;
    width: 170px;
    /* text-align: center; */
    font-size: 34px;
    border-radius: 80px;
    font-family: ConcertOne;
    /* border: #57c1fe71 solid 4px; */
    color: #FF8A00;
    background: white;
    /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.16); */
    transition: font-size 0.1s ease-out 100ms ,  box-shadow 0.4s ease-out 100ms;
  }
  
  
  
  .buttone:hover{
    font-size: 38px;
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.16);
  }
  
