@font-face {
    font-family: "ConcertOne";
    src: url("/fonts/ConcertOne-Regular.ttf");
  }
  

  @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Comfortaa.ttf');
  }

  .title {
    font-size: 55px;
    margin-top: 6rem;
    text-align: left;
    width: 70%;
    font-family: 'Comfortaa';
    color: #FF8A00;
  }
  

  
  .buttonsWrapper{
    margin-top: 7rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-evenly;
  }

  .buttone {
    /* border: 0px; */
    margin-left: 40px;
    margin-right:40px;
    margin-top: 1.4rem;
    height: 3rem;
    padding: 10px 0;
    width: 170px;
    font-size: 28px;
    border-radius: 40px;
    font-family: 'Comfortaa';
    border: #57c1fe71 solid 3px;
    color: #FF8A00;
    background: white;
    /* border: #FF8A00 solid 3px; */
    text-align: center;
    transition: font-size 0.1s ease-out 100ms ,  box-shadow 0.4s ease-out 100ms;
  }
  
  
  
  .buttone:hover{
    font-size: 30px;
    box-shadow: 0 0 15px 4px rgba(255, 255, 255, 0.16);
  }
  
