@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/concertone/v17/VEM1Ro9xs5PjtzCu-srDqSTsjP6yuQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/concertone/v17/VEM1Ro9xs5PjtzCu-srDqSTijP4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.title {
  font-size: 35px;
  margin: 16px;
  font-family: "Concert One";
  color: white;
  /* text-shadow: 2px 2px 3px rgb(22, 22, 22); */
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: rgba(0, 0, 128, 1);
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: rgba(30, 78, 153, 1);
  inherits: false;
}


.button {
  border: 0px;
  margin: 6px;
  margin-top: 23px;
  height: 3rem;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 100px;
  font-family: "Concert One";
  color: white;
  background: linear-gradient(347deg, var(--myColor1) 0%, var(--myColor2) 100%);
  /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.16); */
  transition: font-size 0.1s ease-out 100ms, --myColor1 0.2s, --myColor2 0.2s;
}

.button::placeholder {
  font-family: "Concert One";
}


.button:hover {
  font-size: 1.3rem;
  --myColor1: rgba(28, 28, 169, 1);
  --myColor2: rgba(30, 82, 164, 1);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 98%;
  color: white;
  text-align: right;
}

.registerWrapper {
  width: 60%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.noAccount {
  font-size: 1.1rem;
}