@font-face {
  font-family: "Concert One";
  src: url("/fonts/ConcertOne-Regular.ttf");
}



.title {
  font-size: 35px;
  margin: 16px;
  font-family: "Concert One";
  color: white;
  text-shadow: 2px 2px 3px rgb(22, 22, 22);
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: rgba(0, 0, 128, 1);
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: rgba(30, 78, 153, 1);
  inherits: false;
}


.button {
  border: 0px;
  margin: 6px;
  margin-top: 23px;
  height: 3rem;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 100px;
  font-family: "Concert One";
  color: white;
  background: linear-gradient(347deg, var(--myColor1) 0%, var(--myColor2) 100%);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.16);
  transition: font-size 0.1s ease-out 100ms, --myColor1 0.2s, --myColor2 0.2s;
}

.button::placeholder {
  font-family: "Concert One";
}


.button:hover {
  font-size: 1.3rem;
  --myColor1: rgba(28, 28, 169, 1);
  --myColor2: rgba(30, 82, 164, 1);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 98%;
  color: white;
  text-align: right;
}

.registerWrapper {
  width: 60%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.noAccount {
  font-size: 1.1rem;
}